.bookCollection {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}
.bookCollection input {
  width: 100%;
  border: 1px solid transparent;
  padding: 10px;
  color: var(--color-brand-river-bed);
  font-size: var(--font-size-lg);
}
.bookCollection input::placeholder {
  color: var(--color-brand-cadet-blue);
}

.book {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-lg);
}

.book figure {
  height: 100%;
}

.book img {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

.bookInfo {
  padding: 0 10px;
  background-color: white;
}
.span-title {
  color: var(--color-brand-cadet-blue);
}

.button {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-gray-100);
  background-color: var(--color-secondary);
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  cursor: pointer;
}
